<h1>Home Page</h1>

<%= link_to 'therapist index', therapists_path %>
<%= link_to 'client index', clients_path %>

 <p class="notice"><%= notice unless notice.blank? %></p>
 <p class="alert"><%= alert unless alert.blank? %></p>

